<%- include("templates/header") %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Users</h4>
      </li>
      <% if (errorMessage) { %>
      <li class="collection-item">
        <h6 class="header center deep-orange-text text-accent-3">
          <%= errorMessage %>
        </h6>
      </li>
      <% } %> <% for (let i = 0; i < users.length; i++) { %>
      <%- include("templates/user", {user: users[i]}) %>
      <% } %>
    </ul>
    <br /><br />
  </div>
</div>
<%- include("templates/footer") %>