<%- include("templates/header") %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br /><br />
    <div class="row center">
      <a
        href="/login"
        id="download-button"
        class="btn-large waves-effect waves-light orange"
        >Log In</a
      >
      <a
        href="/signUp"
        id="download-button"
        class="btn-large waves-effect waves-light orange"
        >Sign Up</a
      >
    </div>
    <br /><br />
  </div>
</div>
<%- include("templates/footer") %>
